<form action="/quizes" method="get" style="text-align:left; width:250px;">
  <fieldset style="padding:10px; border:0px;">
    <legend>Búsqueda de texto:</legend>
   	<input type="text" value="" name="search" />
	<input type="submit" value="Buscar"/>
  </fieldset>
</form>
<table>
	<% var i; for (i = 0; i < quizes.length; i++) { %>
		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta  %></a></td></tr>
	<% }; %>
</table>